certifi==2021.10.8
charset-normalizer==2.0.12
fsspec==2022.3.0
idna==3.3
lxml==4.8.0
mmh3==3.0.0
numpy==1.22.3
pandas==1.4.2
pendulum==2.1.2
pyarrow==8.0.0
python-dateutil==2.8.2
python-swiftclient==3.13.1
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
urllib3==1.26.9
