certifi==2021.10.8
charset-normalizer==2.0.12
debtcollector==2.5.0
fsspec==2022.3.0
idna==3.3
iso8601==1.0.2
keystoneauth1==5.0.0
lxml==4.8.0
mmh3==3.0.0
msgpack==1.0.4
netaddr==0.8.0
netifaces==0.11.0
numpy==1.22.3
os-service-types==1.7.0
oslo.config==9.0.0
oslo.i18n==5.1.0
oslo.serialization==5.0.0
oslo.utils==6.0.0
packaging==21.3
pandas==1.4.2
pbr==5.10.0
pendulum==2.1.2
pyarrow==8.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-keystoneclient==5.0.0
python-swiftclient==3.13.1
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
requests==2.27.1
rfc3986==2.0.0
six==1.16.0
stevedore==4.0.0
urllib3==1.26.9
uuid==1.30
wrapt==1.14.1
